:host {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 300px;
}

:host([type="gauge"]) {
  width: 300px;
  height: 300px;
}

#chartdiv {
  width: 100%;
}


/**
 * Core gviz table style overrides.
 */

:host([type="table"]) {
  height: auto;
}

.google-visualization-table {
  border: 0;
  display: block;
  z-index: 0;
}

.google-visualization-table-table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0px;
  font: inherit;
  cursor: default;
  width: 100%!important; /* override inline styles added by JS. */
}

.google-visualization-table-sortind {
  color: #c0c0c0;
  display: inline-block;
  /* Use `line-height:0` to prevent altering the parent line-height. */
  font: 1em/0 Arial, sans-serif;
  margin: 0 0 0 .5em;
  padding: 0;
}

.google-visualization-table-td-bool,
.google-visualization-table-td-center,
.google-visualization-table-td-number {
  text-align: right;
}


/**
 * <google-chart> table style overrides.
 */

.google-chart-table-tr-odd {
  background: #f8f8f8;
}

.google-chart-table-tr-over {
  background-color: #f0f0f0;
}

.google-chart-table-tr-sel {
  background-color: #ffffc0;
}

.google-chart-table-tr-even:last-child,
.google-chart-table-tr-odd:last-child {
  border-bottom: 1px solid #e8e8e8;
}

.google-chart-table-th {
  border: 0;
  border-bottom: 1px solid #a8a8a8;
  font-weight: 700;
  padding: .6em 1em;
  text-align: left;
  white-space: nowrap;
}

.google-chart-table-td {
  border: 0;
  border-left: 1px solid #e8e8e8;
  padding: .6em 1em;
}

.google-chart-table-td:first-child {
  border-left: 0;
}
